.wrapperNotes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .notesBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;

  }
}
